.Container{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: calc(98vh - 60px);  
}

h3{
  color: black;
}

.button_start{
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__start{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .Home__col {
    align-items: flex-start;
  }
}