.BadgesList ul>li {
  margin-bottom: 1rem;
}

.BadgesListItem {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
}

.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
}

.BadgesListItem__details{
  display: flex;
  flex-direction: column;
  margin-left: 20px;

}

.item-twitter__icon{
  width: 30px;
  height: 30px;
  margin: 10px 5px 5px 0px;
}

.item-twitter{
  color: rgb(50, 50, 231);
}

p{
  margin: 0px;
}

h5{
  margin: 0px;
}